{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        title is provided by inheriting templates
    {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{% static 'petshop/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'petshop/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'petshop/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="status row">
            <div class="offset-by-eight four columns">
                <ul class="inline">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout_urlpattern' %}">
                            Log Out, {{ user.get_username }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login_urlpattern' %}">
                            Log In
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
        <header class="row">
            <div class="offset-by-one ten columns">
                <h1 class="logo">Petshop</h1>
                <h2>Petshop Information System</h2>
            </div>
        </header>
        <nav>
            <ul>
            {% if perms.petshop.view_shop %}
                <li>
                    <a href="{% url 'petshop_shop_list_url' %}">
                        Shops
                    </a>
                </li>
            {% endif %}
            {% if perms.petshop.view_pet %}
                <li>
                    <a href="{% url 'petshop_pet_list_url' %}">
                        Pets
                    </a>
                </li>
            {% endif %}
            {% if perms.petshop.view_item %}
                <li>
                    <a href="{% url 'petshop_item_list_url' %}">
                        Supply Items
                    </a>
                </li>
            {% endif %}
            {% if perms.petshop.view_customer %}
                <li>
                    <a href="{% url 'petshop_customer_list_url' %}">
                        Customers
                    </a>
                </li>
            {% endif %}
            {% if perms.petshop.view_porder %}
                <li>
                    <a href="{% url 'petshop_order_list_url' %}">
                        Orders
                    </a>
                </li>
            {% endif %}
                <li>
                    <a href="{% url 'about_urlpattern' %}">
                        About
                    </a>
                </li>
            </ul>
        </nav>
        <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                {% block org_content %}
                    This is default content!
                {% endblock %}
                </section>
                <section class="desktop four columns">
                {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        </main>
        {% if is_paginated %}
            <div class="row">
                <div class="twelve columns">
                    <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First
                            </a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next
                            </a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <footer>
        <p>
            <br/><span property="dct:title">Petshop Code</span>
            by Team AhYesYes
        </p>
        <p>Portions of the Petshop code are based upon code from
            <a href="https://django-unleashed.com">Django Unleashed</a>,
            <a href="http://getskeleton.com/">Skeleton</a>, and
            <a href="https://necolas.github.io/normalize.css/">Normalize.css</a>, and
            <a href="https://courseinfo.ligent.net/2022sp/_illinois/is439_oag_oau/index.html">666 Course</a>
            in University of Illinois at Urbana-Champaign and
            are subject to the intellectual property rights restrictions of those works.
        </p>
    </footer>
</body>
</html>