{% extends 'petshop/base.html' %}

{% block title %}
    Delete Shop
{% endblock %}

{% block content %}
    <form
        action="{{ shop.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            shop {{ shop }}?
        </p>
        <a href="{{ shop.get_absolute_url }}"
            class="button button-primary">
            Cancel
        </a>
        <button type="submit" class="button button-primary">Delete Shop</button>
    </form>
{% endblock %}
